.contenu {
    border: solid rgb(245, 132, 132);
}

/* QUESTIONNAIRE */
.boite {
    height: 50vh;
    border: solid red;
    background-image: url(/assets/img/random/pexels-george-dolgikh-giftpunditscom-1303080.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.inside {
    background:rgba(255, 3, 3, 0.568);
    width: 50%;
}