/* CONTAINER */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: " ten one two three" " ten four five six" "ten seven eight nine "; 
    border: solid rgb(253, 149, 149);
}

.contenu1 { grid-area: one;}
.contenu2 {grid-area: two;}
.contenu3 {grid-area: three;}
.contenu4 {grid-area: four;}
.contenu5 {grid-area: five;}
.contenu6 {grid-area: six;}
.contenu7 {grid-area: seven;}
.contenu8 {grid-area: eight;}
.contenu9 {grid-area: nine;}
.contenu10 {grid-area: ten;}

.contenu {
    border: solid rgb(168, 168, 168);
}

@media screen and (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: " ten one two" " ten three three" "four four five" "six seven seven" "eight nine nine";
    } 
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "ten one" " ten two" "three three" "four five" "six seven" "eight nine";
    } 
}

@media screen and (max-width: 520px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content min-content min-content min-content min-content;
        grid-template-areas: " ten ten" " one two" "three four" "five five" "six seven" "eight nine";
    } 

    .bloc2 {
        padding: 5px;
        margin: 5px;
        font-size: 0.8em;
    }

    .contenu {font-size: 0.9em;}
}

@media screen and (max-width: 454px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content;
        grid-template-areas: " ten ten" " one one" "two two" "three three" "four four" "five five" "six six" "seven seven" "eight eight" "nine nine";
    } 

    .contenu {
        font-size: 0.8em;
}
